:root {
  --bg: #EFF5FF;
  --border:#D6D9E6;
  --accent: #022959;
  --text1: #9699AA;
  --text2: #ABBCFF;
  --unchecked: #D6D9E6;
  --arcade: #FFAF7E;
  --advanced: #F9818E;
  --pro: #483EFF;
  --error: #EE374A;
  --current-step: #BEE2FD;
}